* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title,
.form {
  text-align: center;
}

.todo-list {
  text-align: center;
}

.completed {
  text-decoration-line: line-through;
  opacity: 0.5;
}
